html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    font-family: Tahoma, Arial;
    background: url('../img/kinesis.png') no-repeat center center fixed, url('../img/bg.png');
}
div#overlay-white {
    background: -webkit-radial-gradient(50% 50%, ellipse farthest-side, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 150%);
    background: -moz-radial-gradient(50% 50%, ellipse farthest-side, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 150%);
    background: radial-gradient(50% 50%, ellipse farthest-side, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 150%);
    width:      100%;
    height:     100%; 
    z-index:    1;
    top:        0; 
    left:       0; 
    position:   fixed;     
}
div#overlay-orange {
    background: -webkit-radial-gradient(50% 100%, ellipse farthest-side, rgba(255, 128, 0, 0.5), rgba(0, 0, 0, 0));
    background: -moz-radial-gradient(50% 100%, ellipse farthest-side, rgba(255, 128, 0, 0.5), rgba(0, 0, 0, 0));
    background: radial-gradient(50% 100%, ellipse farthest-side, rgba(255, 128, 0, 0.5), rgba(0, 0, 0, 0));
    width:      100%;
    height:     100%; 
    z-index:    2;
    top:        0; 
    left:       0; 
    position:   fixed;     
}
div#main-window {
    z-index:    3;
    background-color: #f1f9ff;
    border: 1px #ffffff solid;
    width:1045px;
    height:491px;
    position:absolute;
    left: 20%;
    top: 20%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 1px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 1px rgba(0, 0, 0, 1);
}
div#titlebar {
    color: #363636;
    background-color: #e1edf4;
    border-bottom: 1px solid #c5c5c5;
    padding: 5px 10px;
    font-size: 12px;
}
div#content-area {
    background-color: white;
    border: 1px solid #c5c5c5;
    margin: 3px 2px;
}
div.section {
    margin: 20px 20px 0px 20px;
    clear: both;
}
div#top-menu {
    height: 30px;
}
ul.menu {
  list-style-type: none;
  position: relative;  
  margin: 0;
  padding: 0;
}
ul.menu li {
  display: inline-block;
  font-size: 12px;
}
ul.menu li a {
    color: #808080;
    text-decoration: none;
}
ul.menu li a:hover {
    text-decoration: underline;
}
ul.menu li.left {
    float: left;
}
ul.menu li.right {
    float: right;
}
ul.menu li.link {
    padding: 0px 15px;
    margin: 7px 0px;
    border-left: 1px solid #c5c5c5;
}
ul.menu li.link:last-child
{
    border-left: none;
} 
ul.menu li input.search {
    width: 256px;
    height: 26px;
    line-height: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
    padding-left: 20px;
    background: #fafafa url('../img/search.png') no-repeat 5px;
    -webkit-box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    inset 0px 0px 5px rgba(50, 50, 50, 0.25);
    box-shadow:         inset 0px 0px 5px rgba(50, 50, 50, 0.25);
    border: solid 1px #c5c5c5;
}
ul.menu li.search input {
    border: none;
    background-color: transparent;
}
#main-menu ul.menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.25);
    -webkit-box-shadow: inset 0px 1px white;
    -moz-box-shadow:    inset 0px 1px white;
    box-shadow:         inset 0px 1px white;
    border: 1px solid #cacad2;
    overflow: hidden;
    /*background-color: #f2f3f3;*/
    background-image: linear-gradient(bottom, rgb(246,246,246) 0%, rgb(238,240,240) 100%);
    background-image: -o-linear-gradient(bottom, rgb(246,246,246) 0%, rgb(238,240,240) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(246,246,246) 0%, rgb(238,240,240) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(246,246,246) 0%, rgb(238,240,240) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(246,246,246) 0%, rgb(238,240,240) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(246,246,246)),
        color-stop(1, rgb(238,240,240))
    );

}
#main-menu ul.menu li {
    margin: 0;    
    border-right: 1px solid #cacad2;
    -webkit-box-shadow: inset 1px 0px white;
    -moz-box-shadow:    inset 1px 0px white;
    box-shadow:         inset 1px 0px white;
}
#main-menu ul.menu li:first-child {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}
#main-menu ul.menu li:nth-of-type(6) {
    -webkit-box-shadow: inset 1px 0px white, 1px 0px 1px white;
    -moz-box-shadow:    inset 1px 0px white, 1px 0px 1px white;
    box-shadow:         inset 1px 0px white, 1px 0px 1px white;
}
#main-menu ul.menu li:nth-of-type(7) {
    border: none;
}
#main-menu ul.menu li:last-child {
    margin: 0;    
    border-left: 1px solid #cacad2;
    -webkit-box-shadow: inset 1px 0px white;
    -moz-box-shadow:    inset 1px 0px white;
    box-shadow:         inset 1px 0px white;
}
#main-menu ul.menu li a {
    padding: 10px;
    line-height: 37px;
    font-weight: 600; 
    text-shadow: 0.1em 0.1em white;
    text-decoration: none;
    color: #8e989f;
}
#main-menu ul.menu li.active {
    box-shadow: inset 0 20px 15px 0px #dfdfdf;
    overflow: hidden;
}

    
.fixed-table-container {
    width: 100%;
    height: 275px;
    border: 1px solid #c2c4d4;
    margin: 10px auto;
    background-color: white;
    /* above is decorative or flexible */
    position: relative; /* could be absolute or relative */
    padding-top: 30px; /* height of header */
    margin-bottom: 20px; /* height of header */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
     
.header-background {
    height: 30px; /* height of header */
    position: absolute;    
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #c2c4d4;
    background-image: linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -o-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -moz-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -webkit-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -ms-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgb(233,241,247)),
        color-stop(0.43, rgb(200,218,230))
    );   
    -webkit-box-shadow: inset 0px 1px white;
    -moz-box-shadow:    inset 0px 1px white;
    box-shadow:         inset 0px 1px white;    
}
    
table {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
}

.th-inner {
    position: absolute;
    top: 0;
    line-height: 30px; /* height of header */
    text-align: left;
    padding-left: 10px;
    color: #8e989f;
    cursor: pointer;
    text-shadow: 0.1em 0.1em white;
    background-image: linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -o-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -moz-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -webkit-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -ms-linear-gradient(bottom, rgb(233,241,247) 100%, rgb(200,218,230) 43%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgb(233,241,247)),
        color-stop(0.43, rgb(200,218,230))
    );     
    -webkit-box-shadow: inset 0px 1px white;
    -moz-box-shadow:    inset 0px 1px white;
    box-shadow:         inset 0px 1px white;
}
.first .th-inner {
    border-left: none;
    padding-left: 6px;
}
table tbody tr.odd {
    background-color: #f8f8f8;    
}
table tbody td {
    color: #767f85;
    padding: 5px 10px;
}
table th.number .th-inner {
    text-align: right;
    direction: rtl;
} 
table td.number {
    text-align: right;
}
table td.colorify-up {
    color: #0aa000;
}
table td.colorify-down {
    color: #aa0000;
}
.highlight {
    background-color: #e9f1f7 !important;
} 
.hidden-head {
  min-width: 530px; /* enough width to show all header text, or bad things happen */
}
.hidden-header .th-inner {
  position: static;
  overflow-y: hidden;
  height: 0;
  white-space: nowrap;
  padding-right: 5px;
}
.fixed-table-container.sort-decoration { 
  overflow-x: hidden;
  min-width: 530px; /* enough width to show arrows */
}
.sort-decoration .th-inner {
  width: 100%;
}
.headerSortUp .th-inner,
.headerSortDown .th-inner {
  color: #dd8800;
}
span.sortArrow {
  padding: 1px 10px;
  line-height: 30px;
}
.headerSortUp span.sortArrow {
  background: url(../img/asc.png) 5px 5px no-repeat transparent;
}
.headerSortDown span.sortArrow {
  background: url(../img/desc.png) 5px 5px no-repeat transparent;
}

